 
<footer class=" footer-links">
  <p>Follow me on Social Media</p>
  <ul>
  <li class="list">
  <a href="https://www.facebook.com" 
  target="_blank" rel="noopenner norefferer"><i class="fa fa-facebook-f fa-2x"></i></a></li>
  <li class="list">
  <a href="https://www.twitter.com" 
  target="_blank" rel="noopenner norefferer"><i class="fa fa-twitter fa-2x"></i></a></li>
  <li class="list">
  <a href="https://www.instagram.com" 
  target="_blank" rel="noopenner norefferer"><i class="fa fa-instagram fa-2x"></i></a></li>
  <li class="list">
  <a href="https://www.google.com" 
  target="_blank" rel="noopenner norefferer"><i class="fa fa-google fa-2x"></i></a></li>
  <li class="list">
  <a href="https://www.github.com" 
  target="_blank" rel="noopenner norefferer"><i class="fa fa-github fa-2x"></i></a></li>
  
  </ul>
  
  
    <p>For Sponshorship, Query, Correction, Critisim, Donation or more Info about the blog Kindly contact me through the <i class="fa fa-whatsapp fa-2x"> </i> WhatsApp Number 07019736590</p>
 </footer>
</body>
</html>